@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
.font-chakra{
    font-family: 'Chakra Petch', sans-serif;
}
.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeout 0.5s ease-in-out;
}
.dropdown-active {
    display: block;
    animation: fadeout 0.5s ease-in-out;
}
.fadein {
    display: block;
    animation: fadein 0.5s ease-in-out;
}
@keyframes fadeout {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadein {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
*{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}